//FDIAcrossSectorResults

// .root{
// 	width:200px;
//  }
// .circles{
	
// 	color: rgb(173, 207, 236);
// 	font-size: 17px;
// 	border-radius: 50%;
	
// 	background-color: black;
// 	text-align: center;
// 	margin: 10px;
// }
// .data{
// 	display: flex;
// }
// .title{
// 	   width:230px;
// 	   font-family:sans-serif;
// 	   display:flex;
// 	   text-align:left;
// 	   font-size:medium;
// 	   color: #adcfec;
// }
// .card{
// 	width: 700px;
// 	height: 300px;
// 	background: linear-gradient(to left, #1d315d, #263a70);
//  }
// .iconRight{
// 	   height:20px;
// 	   font-size:large;
// 	   position:relative;
// 	   left:450px;
// 	   color: rgb(173, 207, 236);
// 	   text-align:right;
  
// }
// .circleSize{
// 	   display:flex;
// }
// .labels{
// 	   display:flex;
// 	   font-size:small;
// 	   color:rgb(173, 207, 236);
// 	   padding-left:20;
//  }
// .text{
// 	   font-size:smaller;
// 	   padding-left:7px;
// 	}
// .text2{
// 	 font-size:smaller;
// 	 padding-left:10px;
// 	 }
// .text3{
// 	   font-size:smaller;
// 	   padding-left:7px;
// 	 }
// .text4{
// 	   font-size:smaller;
// 	   padding-left: 5px;

// 	 }
// .text5{
// 	   font-size:smaller;
// 	   padding-left: 5px;
// 	 }
// .icon{
// 	padding-left:10px;
// }
// .icon2{
// 	position: relative;
// 	   padding-left:60px;
	  
// 	 }
// .icon3{
// 	position: relative;
// 	   padding-left:60px;
	  
// 	 }
// .icon4{
// 	position:relative;
// 	   padding-left:50px;
// 	 }
	
// .icon5{
// 	   padding-left: 35px;
// 	 }



  
//IntelligentHubPortal
.IHRoot{
	padding-left: 0px;
}
.Header{
	padding-left: 20px;
}
.IHPRoot{
   display:flex;
   flex-direction:column;
  }
.expandMoreIcon{
	color:aliceblue;
}
.desc2{
   font-size:5px;
  }
.timestamp{
	display:left;
  }
.desc{
	padding: 10px;
  }
.IHTitle{
   background-color:#0d1130;
   display: flex;
   color:aliceblue;
   align-items: center;
   width: 100%;
   height: 15%;
 }
 .IHTitle img{
   padding-left:5px;
  }
  .IHTitle span{
   padding-left: 20px;
  }
 .upRightFromSquare{
	position: relative;
   padding-left: 125px;
 }
 .upRightFromSquare2{
	position: relative;
   padding-left: 150px;
 }
 .subText{
	padding:15px;
	font-size: small;
	color: rgb(98, 113, 164);
 }
 .myimg img{
   border-radius: 20px;
	
  }
  .myDiv {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
  }
  .IHP{
	background-color:"aliceblue";
  }
  .IHP span{
	padding-left: 20px;
	position: relative;
	top: 0px;
	font-size: small;
	font-weight: bold;
	text-align: right;
	justify-content:right;
  }
  .IHP h5{
	padding-left: 5px;
	position: relative;
	top: 0px;
   
  }
  .desc2{
	font-size: small;
	font-family: sans-serif;
	
  }
   
.arrowTrendUp{
	background-color: rgb(206, 225, 241);
	border-radius: 20px;
	font-size: large;
	color:rgb(16, 71, 120);
  }
  .MuiAccordionDetails-root{
	margin:0px;
  }
  .file{
	font-size: medium;
	height: 16px;
	font-size: small;
	color:aliceblue;
	padding-top: 2px;
  }
  .bIcon{
	color:aliceblue;
    padding: 5px;
  margin-top: 5px;
  
  height:20px;
  font-size: small;
  }
  .desc3{
	font-size: small;
	padding-left: 5px;
  }
  button {
	display: none;
  }
  .MuiIconButton-root {
	display: none !important;
	color:aliceblue;
  }
  .desc{
	font-size: 15px;
	color: rgb(98, 113, 164);
  }
.icon{
	padding: 5px;
	margin-top: 5px;
	height:20px;
  }


//TrafficSnarlsCard
// .trafficCardRoot{
// 	background-color: rgb(22,47,112);
// 	display: flex;
// 	width: 550px;
// 	border-radius: 10px;

// }
// .title{
//     width:280px;
//     font-family: sans-serif;
//     display: flex;
//     text-align: left;
//     font-size:larger;
    
//     padding-bottom:20px;
//     color:aliceblue;
//    }
// .hamburger{
//   padding-right: 10px;

// }
// .icons{
//     width: 30px;
//     height: 30px;
//     padding:1px;
//     position:absolute;
   
//     top:60px;
//     color: rgb(19, 102, 175);
    
//   }
// .iconRight{
   

//     position:relative;
//     left:20px;
//     color:aliceblue;
       
//   }
//   .verticalLine{
// 	border-left: thick solid rgb(85, 122, 255);
	
//   }
// .timestamp{
//     display: flex;
//     align-items:center;
//     position: relative;
//     left: 45px;
//     color: aliceblue;
//     padding:2px;
   
//   }
//   .timestamp h5{
// 	padding-right: 5px;
//   }
//   .date{
// 	padding-left: 5px;
// 	color:rgb(138, 173, 204);
//   }
// .subtitle{
//     position:relative;
//     left: 25px;
//     padding-top:1px;
//     padding-left:20px;
//     text-align: left;
//     font-size:small;
//     color: rgb(138, 173, 204);
//     font-weight:90px;

//   }
//   .media{
// 	left:300px;
// 	height:300px;
// 	width:300px;
//   }
//   .aligning{
// 	display: flex;
//   }
// .image{
// 	padding-left:50px;
// }
// .text{
// 	padding-top: 50px;
// 	padding-left:20px;
// }
// .leftArrow{
// 	font-size: 20px;
//     color: aliceblue;
// 	position: relative;
//     box-shadow:2px 2px 2px rgb(167, 172, 198);
//     border-radius: 30px;
//     width: 25px;
//     height:25px;
//     left: 45px;
//     top: 22px;
// }
// .rightArrow{
// 	font-size: 20px;
//     color: aliceblue;
// 	position: relative;
//     box-shadow:2px 2px 2px rgb(167, 172, 198);
//     border-radius: 30px;
//     width: 25px;
//     height:25px;
//     left: 82px;
   
//   }


//Left side menu bar

// .container{
// 	display:flex;
//   }
//   main{
// 	width: 100%;
// 	padding: 20px;
//   }
//   .sidebar{
// 	background: #17234f;
// 	color: #fff;
// 	height: 100vh;
// 	width: 200px;
// 	transition: all 0.5s;
//   }
//   .top_section{
// 	display: flex;
// 	align-items:center;
// 	padding:1px;
// 	padding-top:0px;
// 	padding-bottom: 8px;
	
//   }
//   .logo{
// 	font-size: 15px;
// 	padding-left: 10px;
//   }
//   .bars{
// 	display: flex;
// 	font-size: 18px;
// 	margin-left: 40px;
//   }
//   .link{
// 	display: flex;
// 	color: #fff;
// 	padding: 2px 1px;
// 	gap: 15px;
// 	transition: all 0.5s;
//   }
//   .link:hover{
   
// 	color: aliceblue;
// 	transition: all 0.5s;
//   }
//   .active{
   
// 	color:aliceblue;
//   }
//   .icon, .link_text{
// 	font-size: 15px;
//   }
//   .button_style{
// 	color: #7c8189;
// 	font-size: small;
	
// 	background-color: #080519;
   
//   }
//   .StylingText{
//    font-size: 12px;
//    color: #7c8189;
//    background-color: #080519;
//    height: 20px;
  
//    padding: 2px;
// 	  margin-bottom: 2px;
// 	  text-align: justify;
//   border-radius: 2px;
   
//   }
//    span:hover {
	
// 	background-color: #20126e;
//    }
//   .aligning{
// 	display: grid;
   
//   }
//   .imageAligning{
// 	padding-top: 10px;
//   }
//   .loadMoreStyle{
// 	font-size: small;
// 	padding-left: 50px;
// 	color:#685dbe;
//   }
//   .HotTopicsDiv{
// 	display: flex;
// 	padding-bottom: 1px;
//   }
//   .HotTopicsDiv img{
// 	padding-left:40px;
//   }
//   .HotTopicsDiv span{
// 	padding-left:50px;
// 	font-size: 14px;
	
//   }
//   .horizontalLineStyle{
// 	padding-left: 50px;
  
//   }
//   .StylingText2{
// 	font-size: 12px;
// 	color: #7c8189;
// 	background-color: #080519;
// 	height: 20px;
// 	padding-top: 4px;
// 	padding: 2px;
// 	margin-bottom: 4px;
// 	text-align: justify;
// 	border-radius: 2px;
//   }
//   .spacingText{
// 	padding-left:50px;
//   }
//   .StylingText3{
// 	font-size: 12px;
// 	color: #7c8189;
// 	background-color: #080519;
// 	height: 20px;
// 	padding: 3px;
   
// 	margin-bottom: 4px;
// 	text-align: justify;
// 	border-radius: 2px;
//   }
//   .loadMoreStyle2{
// 	font-size: small;
// 	padding-left: 0px;
// 	color:#685dbe;
//   }
//   .magnifyingGlass{
// 	padding-left:65px;
//   }
//   .flameCurved{
// 	padding-left: 40px;
//   }